{% extends 'layouts/base.html' %}{% load static %}
<style>

    .intro-news-area {
        background-color: rgba(104, 164, 136, 0.62);
        padding: 0px;}
    .intro-news{
        color: rgba(104, 164, 136, 0.62);
    }


</style>
{% block content %}
<div class="intro-news-area section-padding-50-0 mb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="{{lajmi1.lexo}}"><img class="d-block w-100" src="{{lajmi1_foto}}" alt="First slide"></a>
                        <div class="carousel-caption">
                            <a href="{{lajmi1.lexo}}" style="color:rgb(255, 255, 255);  text-align: center; font-size: 27px;">{{lajmi1}}</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="{{lajmi2.lexo}}"><img class="d-block w-100" src="{{lajmi2_foto}}" alt="Second slide"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <a href="{{lajmi2.lexo}}" style="color:rgb(255, 255, 255);  text-align: center; font-size: 27px;">{{lajmi2}}</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="{{lajmi3.lexo}}"><img class="d-block w-100" src="{{lajmi3_foto}}" alt="Third slide"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <a href="{{lajmi3.lexo}}" style="color:rgb(255, 255, 255);  text-align: center; font-size: 27px;">{{lajmi3}}</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="{{lajmi4.lexo}}"><img class="d-block w-100" src="{{lajmi4_foto}}" alt="4 slide"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <a href="{{lajmi4.lexo}}" style="color:rgb(255, 255, 255);  text-align: center; font-size: 27px;">{{lajmi4}}</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="{{lajmi5.lexo}}"><img class="d-block w-100" src="{{lajmi5_foto}}" alt="5 slide"></a>
                        <div class="carousel-caption d-none d-md-block">
                            <a href="{{lajmi5.lexo}}" style="color:rgb(255, 255, 255);  text-align: center; font-size: 27px;">{{lajmi5}}</a>
                        </div>
                    </div>
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<section class="intro-news-area">
    <div class="container">
        <div class="row justify-content-center">


            <!-- Intro News Tabs Area  Politikë -->
            <div class="col-12 col-lg-12">
                <div class="intro-news-tab">

                    <!-- Intro News Filter -->
                    <div class="intro-news-filter d-flex justify-content-between">
                        <h5 style="color:rgb(58, 88, 74)"><a href="" >➥ Politikë</a></h5>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist" style="color:rgba(104, 164, 136, 0.62);">
                                <a class="nav-item nav-link active" id="nav1" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true" style="color:rgb(255, 0, 0);">TË FUNDIT</a>
                            </div>
                        </nav>
                    </div>
                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav1">
                            <div class="row">
                                {% for lpost in politik_latest_top %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                            <a href="mailto:{{lpost.user.email}}" target="_blank" class="post-author">By {{lpost.user.username}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% for lpost in politik_latest_bottom %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ##### Add Area Start ##### -->
                <div class="col-12 col-lg-12 mb-100">
                    <a href="#"><img src="{% static 'img/bg-img/1920_200.png' %}" alt=""></a>
                </div>

            <!-- ##### Intro News Area End  Politikë##### -->            




            <!-- Intro News Tabs Area -->
            <div class="col-12 col-lg-8">
                <div class="intro-news-tab">

                    <!-- Intro News Filter -->
                    <div class="intro-news-filter d-flex justify-content-between">
                        <h5 style="color:rgb(58, 88, 74)">➥ Ekonomi</h5>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav1" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true" style="color:rgb(255, 0, 0)">Të fundit</a>
                            </div>
                        </nav>
                    </div>
                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav1">
                            <div class="row">
                                {% for lpost in ekonomi_latest_top %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                            <a href="mailto:{{lpost.user.email}}" target="_blank" class="post-author">By {{lpost.user.username}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% for lpost in ekonomi_latest_bottom %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Sidebar Widget -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="sidebar-area">

                   <!-- Add Widget -->
                   <div class="single-widget-area add-widget mb-30">
                        <a href="#">
                            <img src="{% static 'img/bg-img/datagif.gif' %}" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <!-- ##### Intro News Area End ##### -->



            <!-- Intro News Tabs Area -->
            <div class="col-12 col-lg-12">
                <div class="intro-news-tab">

                    <!-- Intro News Filter -->
                    <div class="intro-news-filter d-flex justify-content-between">
                        <h5 style="color:rgb(58, 88, 74)">➥ Ballkan</h5>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav1" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">Të fundit</a>
                            </div>
                        </nav>
                    </div>
                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav1">
                            <div class="row">
                                {% for lpost in ballkan_latest_top %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                            <a href="mailto:{{lpost.user.email}}" target="_blank" class="post-author">By {{lpost.user.username}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% for lpost in ballkan_latest_bottom %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- ##### Add Area Start ##### -->
            <div class="col-12 col-lg-12 mb-100">
                <a href="#"><img src="{% static 'img/bg-img/1920_200.png' %}" alt=""></a>
            </div>
            <!-- ##### Intro News Area End ##### -->     




            <!-- Intro News Tabs Area -->
            <div class="col-12 col-lg-8">
                <div class="intro-news-tab">

                    <!-- Intro News Filter -->
                    <div class="intro-news-filter d-flex justify-content-between">
                        <h5 style="color:rgb(58, 88, 74)">➥ Botë</h5>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav1" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">Të fundit</a>
                            </div>
                        </nav>
                    </div>
                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav1">
                            <div class="row">
                                {% for lpost in bote_latest_top %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                            <a href="mailto:{{lpost.user.email}}" target="_blank" class="post-author">By {{lpost.user.username}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% for lpost in bote_latest_bottom %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar Widget -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="sidebar-area">

                   <!-- Add Widget -->
                   <div class="single-widget-area add-widget mb-30">
                        <a href="#">
                            <img src="{% static 'img/bg-img/add3.png' %}" alt="">
                        </a>
                    </div>

                </div>
            </div>

            <!-- ##### Intro News Area End ##### -->





            <!-- Intro News Tabs Area -->
            <div class="col-12 col-lg-12">
                <div class="intro-news-tab">

                    <!-- Intro News Filter -->
                    <div class="intro-news-filter d-flex justify-content-between">
                        <h5 style="color:rgb(58, 88, 74)">➥ Jetë</h5>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav1" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">Të fundit</a>
                            </div>
                        </nav>
                    </div>
                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav1">
                            <div class="row">
                                {% for lpost in jete_latest_top %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                            <a href="mailto:{{lpost.user.email}}" target="_blank" class="post-author">By {{lpost.user.username}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% for lpost in jete_latest_bottom %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ##### Add Area Start ##### -->
            <div class="col-12 col-lg-12 mb-100">
                <a href="#"><img src="{% static 'img/bg-img/1920_200.png' %}" alt=""></a>
            </div>
            <!-- ##### Intro News Area End ##### -->





            <!-- Intro News Tabs Area -->
            <div class="col-12 col-lg-8">
                <div class="intro-news-tab">

                    <!-- Intro News Filter -->
                    <div class="intro-news-filter d-flex justify-content-between">
                        <h5 style="color:rgb(58, 88, 74)">➥ Spektakël</h5>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav1" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">Të fundit</a>
                            </div>
                        </nav>
                    </div>
                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav1">
                            <div class="row">
                                {% for lpost in spektakel_latest_top %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                            <a href="mailto:{{lpost.user.email}}" target="_blank" class="post-author">By {{lpost.user.username}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% for lpost in spektakel_latest_bottom %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar Widget -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="sidebar-area">

                   <!-- Add Widget -->
                   <div class="single-widget-area add-widget mb-30">
                        <a href="#">
                            <img src="{% static 'img/bg-img/add3.png' %}" alt="">
                        </a>
                    </div>

                </div>
            </div>






            <!-- Intro News Tabs Area -->
            <div class="col-12 col-lg-12">
                <div class="intro-news-tab">

                    <!-- Intro News Filter -->
                    <div class="intro-news-filter d-flex justify-content-between">
                        <h5 style="color:rgb(58, 88, 74)">➥ Art</h5>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav1" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">Të fundit</a>
                            </div>
                        </nav>
                    </div>
                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav1">
                            <div class="row">
                                {% for lpost in art_latest_top %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                            <a href="mailto:{{lpost.user.email}}" target="_blank" class="post-author">By {{lpost.user.username}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% for lpost in art_latest_bottom %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ##### Add Area Start ##### -->
            <div class="col-12 col-lg-12 mb-100">
                <a href="#"><img src="{% static 'img/bg-img/1920_200.png' %}" alt=""></a>
            </div>
            <!-- ##### Intro News Area End ##### -->




            <!-- Intro News Tabs Area -->
            <div class="col-12 col-lg-8">
                <div class="intro-news-tab">

                    <!-- Intro News Filter -->
                    <div class="intro-news-filter d-flex justify-content-between">
                        <h5 style="color:rgb(58, 88, 74)">➥ Sport</h5>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav1" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">Të fundit</a>
                            </div>
                        </nav>
                    </div>
                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav1">
                            <div class="row">
                                {% for lpost in sport_latest_top %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                            <a href="mailto:{{lpost.user.email}}" target="_blank" class="post-author">By {{lpost.user.username}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% for lpost in sport_latest_bottom %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar Widget -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="sidebar-area">

                   <!-- Add Widget -->
                   <div class="single-widget-area add-widget mb-30">
                        <a href="#">
                            <img src="{% static 'img/bg-img/add3.png' %}" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <!-- ##### Intro News Area End ##### -->


        </div>
    </div>
</section>


{% endblock content %}
